.green {
    background-color: #69f0ae;
}

.red {
    background-color: #ff5252;
}

.blue {
    background-color: cornflowerblue;
}

.orange {
    color: orange;
}

.white {
    background-color: white;
}

.dontShow {
    display: none;
}