.button {
    border: none;
    color: white;
    padding: 12px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}

input {
    padding:12px;
    border:none;
    border-bottom: 1px solid #808080;
    background-color: white;
    color: black;
}

label {
    font-weight: bold ;
}

body {
    font-family: ".SF NS Display", "Helvetica Neue", serif;
    color:whitesmoke;
    background:#40464b;
    height:100%;
}

input[type='checkbox'] {
    -webkit-appearance:none;
    width:41px;
    height:41px;
    background:white;
    border-radius:5px;
    border:2px solid #555;
}

input[type='checkbox']:checked {
    background: cornflowerblue;
}

.tableInput td
{
    height: 50px;
    width:80px;
}

.tableInput td
{
    text-align:center;
    vertical-align:middle;
}

.tableInput {
    margin-left:auto;
    margin-right:auto;
}

caption {
    font-size: 23px;
    color: #ff5252;
    padding-top: 20px;
    padding-bottom: 35px;
}

.helpTitle {
    position: absolute;
    width: 40px;
    height: 50px;
    left: 5px;
    right: 0;
    top: 5px;
    bottom: 0;
}

.inline {
    display: inline;
}

.helpSpanTitle {
    font-weight: bold;
    padding-left: 50px;
}

.help {
    padding-left: 50px;
    line-height: 70%;
}

.header {
    padding-top: 80px;
    text-align: center;
}

.infoTitle {
    position: absolute;
    width: 40px;
    height: 50px;
    left: 55px;
    right: 0;
    top: 5px;
    bottom: 0;
}